<div class="header">
  <div class="container header__container">
    <div class="header__content">
      <div class="header__logo">
        <img src="js.svg" alt="logo">
      </div>
      <nav class="header__nav">
        <button class="nav__btn _btn" data-btn="home">
          Главная
        </button>
        <button class="nav__btn _btn" data-btn="products">
          Товары
        </button>
        <button class="nav__btn _btn" data-btn="order">
          Заказ
        </button>
        <button class="nav__btn _btn" data-btn="delivery">
          Доставка
        </button>
        <button class="nav__btn _btn" data-btn="contacts">
          Контакты
        </button>
        <button class="nav__btn _resize">
          <img src="icons/max-size.svg" width="32" height="32" alt="resize">
        </button>
        <button class="nav__btn _theme-btn">
          <img src="icons/moon.svg" width="45" height="45" alt="theme">
        </button>
      </nav>
      <div class="header__overlay"></div>
      <div class="header__btn">
        <div>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>