.base-layout {
  // margin-top: var(--margin-header-laptop);
  margin-top: var(--header);
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--light2);
  color: var(--dark);
  @media(max-width: 968px) {
    margin-top: var(--header-mobile);
  }
}

.title-slogan {
  margin-bottom: 30px;
  span {
    color: red;
  }
}